/*resetting styles*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Digital7';
    src: url(./assets/digital-7.ttf);
}

body {
    position: relative;
    /* background-color: black; */
}
#root {
  background-image: url(./assets/ominousFuture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  z-index: inherit;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    background-color: rgb(232 14 56 / 30%);
    filter: brightness(1.6) contrast(2.2) blur(7rem);
    box-shadow: 0 0 1rem rgb(160 22 119);
    z-index: -1;

}
.clock-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    backdrop-filter: blur(0.8rem);
}
.clock {
    font-size: 10rem;
    text-align: center;
    color: white;
    font-family: 'Digital7';
    z-index: 100;
    @media screen and (max-width: 600px) {
        font-size: 5rem;
    }
}